﻿<div class="container">
    <div class="row">
        <div>
            <h1>Your card is empty, add some cars first :( </h1>
        </div>
        <div>
            <h2>Please go to home page before you get lost ;) </h2>
        </div>
    </div>
</div>